<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.PsychopathsArena"
      android:versionCode="1"
      android:versionName="1.0"
      android:installLocation="preferExternal" >
    <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="9"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-feature android:name="android.hardware.touchscreen.multitouch" android:required="true"/>
	
    <application android:icon="@drawable/blood" android:label="Psychopath's Arena">
        <activity android:name="com.PsychopathsArena.PsychopathsArenaActivity"
                  android:label="Psychopath's Arena"
                  android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>